<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>walk</key>
	<array>
		<dict>
			<key>Height</key>
			<real>0.12</real>
			<key>Width</key>
			<real>0.0236</real>
			<key>X</key>
			<real>0.6284999999999999</real>
			<key>Y</key>
			<real>0.882</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.12</real>
			<key>Width</key>
			<real>0.0236</real>
			<key>X</key>
			<real>0.6550999999999999</real>
			<key>Y</key>
			<real>0.882</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.12</real>
			<key>Width</key>
			<real>0.0236</real>
			<key>X</key>
			<real>0.6817</real>
			<key>Y</key>
			<real>0.882</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.12</real>
			<key>Width</key>
			<real>0.0236</real>
			<key>X</key>
			<real>0.7082999999999999</real>
			<key>Y</key>
			<real>0.882</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.12</real>
			<key>Width</key>
			<real>0.0236</real>
			<key>X</key>
			<real>0.7348999999999999</real>
			<key>Y</key>
			<real>0.882</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.12</real>
			<key>Width</key>
			<real>0.0236</real>
			<key>X</key>
			<real>0.7615</real>
			<key>Y</key>
			<real>0.882</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.12</real>
			<key>Width</key>
			<real>0.0236</real>
			<key>X</key>
			<real>0.7880999999999999</real>
			<key>Y</key>
			<real>0.882</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.12</real>
			<key>Width</key>
			<real>0.0236</real>
			<key>X</key>
			<real>0.8147</real>
			<key>Y</key>
			<real>0.882</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.12</real>
			<key>Width</key>
			<real>0.0236</real>
			<key>X</key>
			<real>0.8412999999999999</real>
			<key>Y</key>
			<real>0.882</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.12</real>
			<key>Width</key>
			<real>0.0236</real>
			<key>X</key>
			<real>0.8678999999999999</real>
			<key>Y</key>
			<real>0.882</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.12</real>
			<key>Width</key>
			<real>0.0236</real>
			<key>X</key>
			<real>0.8945</real>
			<key>Y</key>
			<real>0.882</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.12</real>
			<key>Width</key>
			<real>0.0236</real>
			<key>X</key>
			<real>0.9210999999999999</real>
			<key>Y</key>
			<real>0.882</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.12</real>
			<key>Width</key>
			<real>0.0236</real>
			<key>X</key>
			<real>0.9477</real>
			<key>Y</key>
			<real>0.882</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.12</real>
			<key>Width</key>
			<real>0.0236</real>
			<key>X</key>
			<real>0.9742999999999999</real>
			<key>Y</key>
			<real>0.882</real>
		</dict>
	</array>
	<key>block</key>
	<array>
		<dict>
			<key>Height</key>
			<real>0.11</real>
			<key>Width</key>
			<real>0.0361</real>
			<key>X</key>
			<real>0.08120000000000001</real>
			<key>Y</key>
			<real>0.885</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.11</real>
			<key>Width</key>
			<real>0.0361</real>
			<key>X</key>
			<real>0.1203</real>
			<key>Y</key>
			<real>0.885</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.11</real>
			<key>Width</key>
			<real>0.0361</real>
			<key>X</key>
			<real>0.1594</real>
			<key>Y</key>
			<real>0.885</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.11</real>
			<key>Width</key>
			<real>0.0361</real>
			<key>X</key>
			<real>0.1985</real>
			<key>Y</key>
			<real>0.885</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.11</real>
			<key>Width</key>
			<real>0.0361</real>
			<key>X</key>
			<real>0.2376</real>
			<key>Y</key>
			<real>0.885</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.11</real>
			<key>Width</key>
			<real>0.0361</real>
			<key>X</key>
			<real>0.2767</real>
			<key>Y</key>
			<real>0.885</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.11</real>
			<key>Width</key>
			<real>0.0361</real>
			<key>X</key>
			<real>0.3158</real>
			<key>Y</key>
			<real>0.885</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.11</real>
			<key>Width</key>
			<real>0.0361</real>
			<key>X</key>
			<real>0.3549</real>
			<key>Y</key>
			<real>0.885</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.11</real>
			<key>Width</key>
			<real>0.0361</real>
			<key>X</key>
			<real>0.394</real>
			<key>Y</key>
			<real>0.885</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.11</real>
			<key>Width</key>
			<real>0.0361</real>
			<key>X</key>
			<real>0.4331</real>
			<key>Y</key>
			<real>0.885</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.11</real>
			<key>Width</key>
			<real>0.0361</real>
			<key>X</key>
			<real>0.4722000000000001</real>
			<key>Y</key>
			<real>0.885</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.11</real>
			<key>Width</key>
			<real>0.0361</real>
			<key>X</key>
			<real>0.5113000000000001</real>
			<key>Y</key>
			<real>0.885</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.11</real>
			<key>Width</key>
			<real>0.0361</real>
			<key>X</key>
			<real>0.5504</real>
			<key>Y</key>
			<real>0.885</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.11</real>
			<key>Width</key>
			<real>0.0361</real>
			<key>X</key>
			<real>0.5895</real>
			<key>Y</key>
			<real>0.885</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.11</real>
			<key>Width</key>
			<real>0.0361</real>
			<key>X</key>
			<real>0.003</real>
			<key>Y</key>
			<real>0.767</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.11</real>
			<key>Width</key>
			<real>0.0361</real>
			<key>X</key>
			<real>0.04210000000000001</real>
			<key>Y</key>
			<real>0.767</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.11</real>
			<key>Width</key>
			<real>0.0361</real>
			<key>X</key>
			<real>0.08120000000000001</real>
			<key>Y</key>
			<real>0.767</real>
		</dict>
	</array>
	<key>fall</key>
	<array>
		<dict>
			<key>Height</key>
			<real>0.2</real>
			<key>Width</key>
			<real>0.033</real>
			<key>X</key>
			<real>0.003</real>
			<key>Y</key>
			<real>0.43</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.2</real>
			<key>Width</key>
			<real>0.033</real>
			<key>X</key>
			<real>0.042</real>
			<key>Y</key>
			<real>0.43</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.2</real>
			<key>Width</key>
			<real>0.033</real>
			<key>X</key>
			<real>0.081</real>
			<key>Y</key>
			<real>0.43</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.2</real>
			<key>Width</key>
			<real>0.033</real>
			<key>X</key>
			<real>0.042</real>
			<key>Y</key>
			<real>0.43</real>
		</dict>
	</array>
	<key>jump</key>
	<array>
		<dict>
			<key>Height</key>
			<real>0.17</real>
			<key>Width</key>
			<real>0.0361</real>
			<key>X</key>
			<real>0.252</real>
			<key>Y</key>
			<real>0.45</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.17</real>
			<key>Width</key>
			<real>0.0361</real>
			<key>X</key>
			<real>0.291</real>
			<key>Y</key>
			<real>0.46</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.17</real>
			<key>Width</key>
			<real>0.0361</real>
			<key>X</key>
			<real>0.33</real>
			<key>Y</key>
			<real>0.46</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.17</real>
			<key>Width</key>
			<real>0.0361</real>
			<key>X</key>
			<real>0.369</real>
			<key>Y</key>
			<real>0.46</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.17</real>
			<key>Width</key>
			<real>0.0361</real>
			<key>X</key>
			<real>0.408</real>
			<key>Y</key>
			<real>0.46</real>
		</dict>
		<dict>
			<key>Height</key>
			<real>0.17</real>
			<key>Width</key>
			<real>0.0361</real>
			<key>X</key>
			<real>0.447</real>
			<key>Y</key>
			<real>0.46</real>
		</dict>
	</array>
</dict>
</plist>
